* {
  box-sizing: border-box;
}

body {
  transition: 1s background-image;
  background-image: url("https://images.unsplash.com/photo-1610970884954-4d376ecba53f?q=80&w=2718&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(242, 239, 248);
}
.my-text {
  font-family: fantasy;
  color: #caf6f6;
  font-weight: bolder;
  /* allign to center */
  text-align: center;
}
